{% extends 'base.html' %} {% block content %}

<div class="container m-5">

    <div class="row">
        <h2 class="text-center">About Us</h2>
        <hr>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p class="card-text text-justify">Prime eCart lets you open a beautiful ecommerce store in just a few minutes.
                            No contract, no hassle and no commission. Pay just a monthly subscription fee and focus on growing your business
                            and not on managing the tech side of store. It is an easy setup and a 
                            brilliant way to grow your business and cut unnecessary marketing expenses.
                            Prime eCart is a brilliant way to connect with customers by bringing your brand’s 
                            story to life and presenting your products and services. This powerful online store builder
                            and shopping cart hosting system allows your customers to build e-commerce stores. This 
                            unique software includes integration with major domain registrars, as well as billing, 
                            account management, and help desk support.Prime E-cart focuses on selling, promoting, 
                            and providing all the tools needed for your business to be successful. Our services ensure
                            that your customers keep coming back to you. Prime eCart is set to provide a turn-key
                            e-commerce solution with the goal to provide an easy to use e-Commerce platform with 
                            advanced functionalities.Prime eCart covers all aspects of creating an e-commerce 
                            presence for businesses, such as website creation and hosting, database management, 
                            search engine optimization, shopping cart functionality, merchant service solutions etc. 
                            With all that taken care of, you can just focus on the things that matter to you, like 
                            growing your businesseCart is a team of full-time Shopify Experts based in Atlanta, GA 
                            that have serviced over 400 Shopify stores worldwide. We work with clients to understand 
                            their individual needs, and provide solutions that help elevate the value of their brands.
                            As a Reseller, you share products listed on the prime E cart app either with your
                            network or on social media and earn a profit with every sale. There are 1 Lakh+ 
                            products on the app through which you can browse. The products are provided by 
                            suppliers.
                    </p>
                  </div>
      </div>
      </div>
            </div> 
</div>    

                    <!-- <div class="row">
                        <div class="col-sm-6">
                          <div class="shope">
                           <div class="container">          
                  <img src="/media/product/bestseller.jpeg" class="img-rounded" alt="Cinque Terre" width="304" height="236 >
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="shopen">
                            <div class="card bg-success text-light">
                                <h5 class="card-title">Shop E</h5>
                                <h5 class="card-title">Empowerment</h5>
                                
                              <p class="card-text">Small and medium businesses now make up approximately 60% of physical
                                 product sales in our store and have created an estimated 2.2 million jobs.</p>
                              <a href="#" class="btn btn-primary">Customer</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

    </div>

      <div class="d-flex justify-content-md-center m-5">  
        <p class="me-5">
        <img src="/media/product/bestseller.jpeg" class="img-rounded" alt="Cinque Terre" width="304" height="236"> </p>
        <p class="ms-5"><img src="/media/product/badge1.jpeg" class="img-rounded" alt="Cinque Terre" width="304" height="236"> 
        </p>
      </div>
      
    <div class="m-5">
      <p> Legal Name : Shop E Inc.
         Headquarters : Bangalore, Karnataka, India 
         Business Model : B2C Founding Date : Dec 2015 
         No. of Employees : 1000+ Core Team : 1. 
        Read more at: https://yourstory.com/companies/shope</p> 

    </div>
</div>

              

{% endblock content %}