{% extends 'base.html' %}
{% block content %}

<section style="min-height:100vh">
    <div class="m-5">
    <i><h2>Order Summary</h2></i>
<div class="container py-5">
    <div class="position-relative m-4">
        <div class="progress" style="height: 1px;">
          <div class="progress-bar" role="progressbar" aria-label="Progress" style="width:80%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
        <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;"><i class="fa fa-check" aria-hidden="true"></i>
            <P>ordered</P</button>
        <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;"><i class="fa fa-check" aria-hidden="true"></i>
            <P>shipped</P</button>
        <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;"><i class="fa fa-check" aria-hidden="true"></i>
            <P>delivered</P</button>
    </div>
    <br>
    <div class="card m-2">
        <div class="card-body">
            <i class="fa-solid fa-shopping-cart"></i>
            <b><div class="card-title font-6 roboto"><p class="bg-info">Product Details</b>
                <div class="card-text font poppins">
        {% for item in cart.items %}
        <p>{{item.product}}<br>&pound;{{item.product.price}}</p>
          <p class="fw-bold">{{item.quantity}}</span></p>
        {% empty %}
        <li>Nothing Found!</li>
        {% endfor %}     
    </div>
    </div>
    </div>
    <div class="card m-2">
        <div class="card-body">
            <i class="fa-solid fa-truck-fast"></i>
            <b><div class="card-title font-6 roboto"><p class="bg-info">Delivery Details</b>
                <div class="card-text font poppins">
                    <p>Name :</p>
                    <p>Contact No :</p>
                    <p>Address :</p>
                  
                </div>
            </div>
        </div>
    </div>
    <div class="card m-2">
        <div class="card-body">
           <i class="fas fa-credit-card" ></i>
           <b> <div class="card-title font-6 roboto"><p class="bg-info">payment Mode</p></b>
                <div class="card-text font poppins">
                    <p>----------</p>
                </div>
            </div>
        </div>
    </div>
    </div>
        <br>
        <div class="text-center">
            <button class=" btn1" ><a href="{% url 'core:ordr_placed' %}">Confirm</button></a>
    </div>
</div>
</div>
</section>


{% endblock content%}