{% extends 'base.html' %}
{% block content %}


<section>
    <section>
        <div class="container">
          <i> <h2>User Details</h2></i>
        
             
             <div class="form-group">
               <label for="pwd"> Address:</label>
               <span class="fa fa-home"></span>
               <input type="Delivery Address" class="form-control" id="Delivery Address" placeholder="Enter Delivery Address" name="Delivery Address">
             </div>
            
         </div>



{% endblock %}