{% extends "base.html" %} 
{% block content %}
<div class="container">
    <i> <h2>Best Sellers In Accesories</h2></i>
</div>
     
<section>
    <div>

        <p>
            <img src="/media/product/dior.jpeg" class="card-img" style="height: 250px; width:250px">
            <img src="/media/default/rayban.jpeg" class="card-img" style="height: 250px; width:250px">
            <img src="/media/default/heels.jpeg" class="card-img" style="height: 250px; width:250px">
            <img src="/media/default/ring.jpeg" class="card-img" style="height: 250px; width:250px">
            <img src="/media/default/necklace.jpeg" class="card-img" style="height: 250px; width:250px">
            <img src="/media/default/eyewear.jpeg" class="card-img" style="height: 250px; width:250px">
        </p>
    </div>
</section>


{% endblock content %}