{% extends "base.html" %} {% block content %}
<Body background="https://i.pinimg.com/originals/80/7c/33/807c33ff38cef690083555dd4f6396bc.jpg">
<section class="bg-light">
  <div class="p-4">
    <div class="row">
      <div class="col">
        <h2 class="text-center bg-light text-dark">Product Categories</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col p-4">
        {% for category in categories %}
        <div class="card bg-black m-4 rounded-3">
          <div class="card-body link-primary text-center">
            <p class="card-text">
              <a
                href="{% url 'core:product_by_category' category.id %}"
                class="text-uppercase text-decoration-none"
              >
                {{category}}
              </a>
            </p>
          </div>
        </div>
        {% empty %}
        <h5>Nothing found!</h5>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
</Body>
{% endblock content %}

