{% extends "base.html" %} 
{% block content %}

<section style="min-height:100vh">
    <div class="m-5">
        <p>
            <img src="/media/product/maggi-2minutes-noodles.webp" class="card-img" style="height: 250px; width:250px">
            <img src="/media/product/darkfantast.jgeg" class="card-img" style="height: 250px; width:250px">
            <img src="/media/product/galaxy.jpeg" class="card-img" style="height: 250px; width:250px">
            <img src="/media/product/snickers.jpeg" class="card-img" style="height: 250px; width:250px">
        </p>

            <div class="row row-cols-lg-4 g-3">
                {% for product in products %}
                <div class="col">
                <div class="card">
                    <img src="{{product.image.url}}" class="card-img-top" alt="..." height="200px" />
                    <div class="card-body">
                    <h5 class="card-title overflow-hidden" style="width: 200px; height: 28px;">
                        <a
                        href="{% url 'core:product_detail' product.id %}"
                        class="link-primary "
                        >{{product.name}}</a
                        >
            
                    </h5>
                    <p class="card-text">Price: {{product.price}}</p>
                    <p class="card-text overflow-hidden" style="height: 60px;">Description: {{product.description}}</p>
                    <!-- categories -->
                    <div>
                        <p class="card-text">Categories</p>
                        <ul>
                        {% for category in product.category.all %}
                        <li>{{category}}</li>
                        {% endfor %}
                        </ul>
                    </div>
                    <p class="card-text text-muted fst-italic">
                        Last updated: {{product.updated_on|date}}
                    </p>
                    
                    <div class="card-footer">
                    <a href="{% url 'core:add_to_cart' product.id %}" class="btn btn-primary">
                        <i class="fa-solid fa-cart-shopping"></i>
                        Add to cart
                    </a>
                    </div>
                    </div>
                </div>
                </div>
                {% empty %}
                <div class="col">
                <p>no product found</p>
                </div>
                {% endfor %}
        </div>



    </div>
</section>


{% endblock content %}